/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header Styling */
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

/* Links */
a {
    color: #35424a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #1f2a30;
}


card-container {
    display: flex auto;
    align-items: stretch;
    width: 100%;
    height: auto;
    gap: 16px; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

/* Card Styling */
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 24px;
    width:auto;
    height:auto
}
.card img {
    max-width: 100%;
    border-radius: 5px;
}
.card h3 {
    margin: 10px 0;
}
.card p {
    color: #666;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin-top: 40px;
    align-items: stretch;
}

.column {
    flex: 3;}